@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Source+Code+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --cor01: #826fff;
    --cor02: darkred;
    --cor03: #E0E0E0;
    --cor04: #262626;
    --gradiente: linear-gradient(to bottom right,black,var(--cor04));
    --gradientefooter: linear-gradient(to right,black,#2F4F4F);
    --font1: 'Montserrat', sans-serif;;
    --font2: 'Corinthia', cursive;;
    --font3: 'Open Sans', sans-serif;
    --font4: 'VT323', monospace;
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.logo {
    margin-bottom: -18px;
    margin-left: 13px;
}
li {
    list-style-image: url(ícones/icons8-spark-plug-20.png);
    list-style-position: inside;
}
li::after {
    content:url(ícones/icons8-mechanic-skin-type-4-48.png);
}

.contact {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: cente;
    justify-content: space-between;
    padding: 20px;
    background: var(--gradiente);
}

.marginesquerda {
    margin-left: 30px;
}
#insta {
    margin-right: 30px;
}
.contact h3 {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 15px;
}
.contact p {
    font-family: var(--font1);
    font-weight: 500;
    font-size: 13px;
}

header {
    width: 100%;
    height: 150px;
    font-weight: bold;
    background-color: black;
    display: flex;
    /*flex-direction: column; padrao é row*/
    justify-content: space-between; /* os elementos se separam ate as extremidades*/
    align-items: center;
    font-family: 'Corinthia', cursive; /*eu importei esta fonte*/
    font-size: 2.3rem;
    
}

a {
    color: var(--cor01);
    
}
ul {
    display: flex;
    flex-direction: row; /* já vem no display flex como padrao */
}
li {
    list-style-type: none;
    cursor: pointer;
    margin-right: 25px;
    font-size: 30px;
    
}
li:hover {
    background-color: var(--cor04);
    border-radius: 15px;
}
a {
    text-decoration: none;
    
}
a:visited {
    color: var(--cor02);
}
a:hover {
    text-decoration: underline;
}
.objetivo {
    min-height: 700px;
    width: 100%;
    background-image: url(./images/kat-sazonova-4ORysIjH-mY-unsplash\ \(1\).jpg);
    background-size: cover; /*cobre toda a width e height aplicada*/
    background-repeat: no-repeat; /* padrão é repeat*/
    background-position-y: center;  
    position: relative;
    font-size: 1.2em;
    
}
.topespaco {
    margin-top: 20px;
}

.objdiv {
    color: white;
    max-width: 600px;
    font-weight: bold;
    font-family: var(--font3);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -160%);
}

.intro {
    text-align: center;
    background: linear-gradient(to bottom right,black,var(--cor04));
    color: white;
    font-family: var(--font4);
    min-width: 320px;
    font-size: 1.2em;
    padding: 20px;
}
.intro > h3::after {
    content: url(icones/icons8-para-baixo-2-19.png);
    background-color: white;
    border-radius: 10%;
    margin-left: 10px;
}
.sobre {
    background-image: url(images/mechanic\ found.jpg);
    min-height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: ;*/
    text-align: center;
    font-family: var(--font3);
    font-weight: bold;
    position: relative;
    font-size: 1.2em;
}
.sobrediv {
    color: white;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    
}

.servico {
    font-family: var(--font1);
    height: 550px;
    width: auto;
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(images/ThanitApril_58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position-x: center;*/
    font-size: 15px;
}
.servico > div {
    background-color: #826fff49;
    border-radius: 10px;
    color: white;
    padding: 10px;
    height: 260px;
    text-align: center;


}
.servico > div > img {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    opacity: 0.8;
}
.servico > div > h3 {
    margin-top: -5px;
    margin-bottom: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--gradientefooter);
    height: 200px;
    color: white;
    padding: 14px;
    font-family: var(--font2);
    font-size: 1.7em;
    letter-spacing: 2px;
    
}
footer > div > img {
    border-radius: 10%;
}
footer > .address > p > img {
    margin-bottom: -5px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.9;
}
footer > .address > p > img:hover {
    background-color: #2F4F4F;
}






